__pycache__/
*.pyc
*.pyo
*.pyd

venv/

*.env

db.sqlite3

/media/
/static/

*.log

.env

secret.key

.vscode/
*.sublime-workspace
*.sublime-project
*.idea/
*.pycharm/

Pipfile
Pipfile.lock


*.env

*~

*.sqlite3

local_settings.py

/migrations/
__pycache__/

*.test

locale/

htmlcov/
.coverage

user/google_auth/
